#root {    
    padding: 0;
    background-color: #f0f0f0;
    background-image: linear-gradient(
180deg
, hsla(0, 0%, 98%, 0.6), hsla(0, 0%, 98%, 0.6)), url(./assets/bg-cda-gradiente.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
}

.text-center {
  text-align: center;
}

.cupones-screen,
.cupon-screen,
.user-account-screen {
  padding-top: 60px;
  padding-bottom: 80px;
}
.home-screen {
  position: relative;
  background: #f0f0f0;
  padding-top: 60px;  
}
.user-account-screen {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f0f0f0;
    background-image: url(./assets/user-acc-bg.jpg);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.div-block-23 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 1000px;
  background-image: url(./assets/home-green-shadow.png);
  background-position: 0px 0px;
  background-size: cover;
}

/* ESTILOS NAVEGACION */

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: 0 20px 0;
  padding-left: 0px;
  position: relative;
  z-index: 1000;
}
.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo1 {
  width: 40px;  
}
.logo2 {
  width: 150px;
  margin-left: 20px;
}
.nav-menu {
  display: none;
}
.nav-button {
  margin-right: 20px;
}
.nav-button i {
  opacity: .8;
}

/* ESTILOS HOMESCREEN */

.banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 60px;
  margin-right: 0%;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0px solid #fafafa;
  border-radius: 0px;
  background-color: transparent;  
  z-index: 5;
}
.image-7 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 80%;
  margin-left: 0%;
}
.image-8 {
  position: absolute;
  left: auto;
  top: 30%;
  right: 27%;
  bottom: 0%;
  width: 380px;
}
[data-aos="anim1"] {
  opacity: 1;
  transform:translateY(-10%);
  transition-property: opacity, transform;  
}
[data-aos="anim1"] .aos-animate {
  transform:translateY(50%);
  opacity: .5;
}
.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: -1px;
}
.section-2 {
  position: relative;
  overflow: hidden;
}
.section-3 {
  position: relative;
  overflow: visible;
}
.section-4 {
  position: relative;
  overflow: hidden;
  background-image: url(./assets/city-bg.png), url(./assets/lower-green-shadow.png);
  background-position: 50% 100%, 100% 100%;
  background-size: contain, cover;
  background-repeat: no-repeat, repeat;
  padding-bottom: 40px;
  
}
.asistencias {  
  position: relative;
  display: -ms-grid;
  display: grid;
  height: auto;
  margin-top: 80px;
  margin-right: 15%;
  margin-left: 15%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.image-13 {
  position: absolute;
  left: auto;
  top: 32%;
  right: -12%;
  bottom: 0%;
  width: 400px;
}
.image-9 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 8%;
  bottom: 0%;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}
.image-9-copy {
  position: absolute;
  left: 42%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
}
.asistencias.movil {
  display: block;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
}
.div-block-6 {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px 40px 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fafafa;
  border-radius: 35px;
  background-color: transparent;
}
.div-block-6-copy {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 80px;
  padding-left: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fafafa;
  border-radius: 35px;
  background-color: transparent;
  background-image: url(./assets/city-bg.png);
  background-position: 50% 100%;
  background-size: 700px;
  background-repeat: no-repeat;
}
.image-12 {
  position: absolute;
  left: auto;
  top: auto;
  right: -4%;
  bottom: 0%;
  z-index: 10;
  width: 600px;  
}
.image-15 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -17%;
  z-index: 10;
  width: 250px;
}
.image-14 {
  position: absolute;
  left: -5%;
  top: -4%;
  right: auto;
  bottom: auto;
  z-index: 10;
  width: 400px;
}
.image-17 {
  position: absolute;
  left: -10%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 400px;
}
.image-16 {
  position: absolute;
  left: auto;
  top: auto;
  right: 11%;
  bottom: 0%;
  width: 200px;
}
.w-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 50px;
  margin-top: 22px;    
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background-color: #ffa000;
  /* box-shadow: 4px 4px 10px 0 rgb(22 32 91 / 20%); */
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Silka, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.w-button:hover {
  background: #3264ff;
}
.heading-2 {
  padding: 0px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: -0.8px;
}
.paragraph-2 {    
  margin-top: 10px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.5);
}
.div-block-22 {
  display: block;
  height: 1px;
  margin: 40px 50px;
  background-color: rgba(22, 32, 91, 0.3);
}
.cupon-card:nth-child(3) {
  display: none;
}
.cupones {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 80px;  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(255, 160, 0, 0.8);
}

.benefit-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
}
.ben-title {
  color: rgba(22, 32, 91, 0.8);
  font-family: Silka, sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.benefit-item p {
  text-align: left;
  margin-bottom: 10px;
}
.div-block-17 {
  margin-right: 15%;
  margin-left: 15%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
.titulos-centrados {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Silka, sans-serif;
  color: #fafafa;
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.5px;
}
.div-block-10 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  overflow: visible;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 10px 10px 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 98%, 0.6);
  border-radius: 35px;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}
.cupon-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  padding: 35px 30px 30px;  
  margin: 10px;    
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 20px;
  background-color: hsla(0, 0%, 98%, 0.8);
  box-shadow: 11px 11px 20px 0 rgb(22 32 91 / 15%);
}
.heading-5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Silka, sans-serif;
  color: #ff5a00;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  letter-spacing: -2px;
}
.texto-cupones {
  font-family: Silka, sans-serif;
  color: rgba(178, 70, 22, 0.7);
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}
.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.link {
  font-family: Silka, sans-serif;
  font-size: 14px;
  color: rgba(178, 70, 22, 0.9);
  font-weight: 600;
  text-decoration: underline;
  margin-top: 20px;
}
.div-block-19 {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  background-color: rgba(120, 124, 169, 0.1);
  margin-top: 0px;
}
.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 15%;
  margin-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.coupons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 50px;
  margin-top: 22px;  
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 98%, 0.6);
  border-radius: 15px;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Silka, sans-serif;
  color: #fafafa;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.el-club {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 120px;
  margin-right: 40px;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.heading-3 {
  font-family: Silka, sans-serif;
  color: #16205b;  
  font-weight: 700;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  font-size: 45px;
  line-height: 50px;
}
.heading-3 strong {
  color: #a3a9f5;  
}
.paragraph-22 {
  width: auto;
  margin: 40px 60px 20px;  
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.5);
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.join {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 50px;
  margin-top: 22px;  
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(22, 32, 91, 0.4);
  border-radius: 15px;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.home-form {
  background-color: transparent !important;
}
.formulario {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #dee2fc;  
}
.goHome {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Silka;
  font-weight: 600;
  color: #16205b;
}
.form-block {  
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.filesUploaded {
  
}
.fileTitle {
  text-align: right;
  margin: 5px 0 0;
  font-family: Silka, sans-serif;
  color: #787ca9;
  line-height: 14px;
  letter-spacing: -0.5px;
}
.fa-trash {
  margin-left: 10px;
  opacity: .6;
  cursor: pointer;
}
.field-label {
  font-family: Silka, sans-serif;
  font-size: 14px;
  color: rgba(120, 124, 169, 0.7);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.text-field {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;  
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 98%, 0.4);
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.4);
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.8);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.text-field:focus {
  border-color: #3898EC;
  outline: 0;
}
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 100px;    
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: transparent;
}
.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.image5 {
  width: 60px;
  opacity: 0.9;
}
.image6 {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: 0px;
  opacity: 0.9;
}
.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: transparent;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
}
.popup-container{
  position: absolute;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: 0px;
  z-index: 10000;
  display: none;
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;  
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #dee2fc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 98%, 0.5)), to(hsla(0, 0%, 98%, 0.5))), url("../src/assets/bg-cda-gradiente.jpg");
  background-image: linear-gradient(180deg, hsla(0, 0%, 98%, 0.5), hsla(0, 0%, 98%, 0.5)), url("../src/assets/bg-cda-gradiente.jpg");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 120vw;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.15);
}
.image-31 {
  width: 30px;
}
.heading-login {
  margin-top: 15px;
  margin-bottom: 40px;
  padding: 0px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: -0.8px;
  text-align: center;
}
.text-field-2 {
  height: 45px;
  width: calc(100% - 20px);
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;  
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 98%, 0.36);
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.15);
  font-family: Silka, sans-serif;
  color: #16205b;
}
.text-field-3 {
  height: 100px;
  width: calc(100% - 20px);
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;  
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 98%, 0.36);
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.15);
  font-family: Silka, sans-serif;
  color: #16205b;
}
.text-field-2:focus {
  outline: none;
  border-color: #fafafa;
  background-color: hsla(0, 0%, 100%, 0.45);
}
.text-field-3:focus {
  outline: none;
  border-color: #fafafa;
  background-color: hsla(0, 0%, 100%, 0.45);
}
.form-block-2 {
  width: 400px;
}
.btnSubmit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 50px;
  margin-top: 22px;  
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ff5a00;
  box-shadow: 4px 4px 10px 0 rgba(22, 32, 91, 0.2);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Silka, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border: none;
}
.link-2 {
  margin-top: 20px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.5);
}
.ReactModal__Overlay {
  z-index: 1000;
}
.ReactModal__Content {
  background: rgba(120, 124, 169, 0.5) !important;
  text-align: center;
  inset: 240px !important;
}
/* ESTILOS PAGINA CUPONES */

.cupones-page {
  position: relative;
  display: -ms-grid;
  display: grid;
  overflow: visible;
  margin: 60px 15% 250px;
  padding: 20px 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 0px;
  border-color: hsla(0, 0%, 98%, 0.6);
  border-radius: 35px;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}
.banners-cupones {
  height: 350px;
  margin-top: 80px;
  margin-right: 15%;
  margin-left: 15%;
  border: 1px solid #fff;
  border-radius: 30px;
}
.div-block-24 {
  max-height: 330px;
  overflow: hidden;
  margin: 10px;
  border-radius: 25px;
  background-color: rgba(120, 124, 169, 0.2);
}
.splide__slide img {
  max-width: 100%;
}
.splide__arrow svg {
  fill: #fff;
  background: #000;
  border-radius: 50%;
  padding: 5px;
  height: 1.5em;
  transition: fill .2s linear;
  width: 1.5em;
  opacity: .7;
}
.splide__pagination {
  display: none;
}
.cupon-card-cupon-page {
  display: flex;
  width: -webkit-fill-available;
  max-height: 220px;
  height: 220px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0 40px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: hsla(0, 0%, 98%, 0.8);
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: none;
}
.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 25px;
  cursor: pointer;
}
.div-block-25:hover, .div-block-25:active {
  background-color: rgba(120, 124, 169, 0.05);
}
.heading-6 {
  height: 55px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}
.texto-cupones {
  font-family: Silka, sans-serif;
  color: #787ca9;
  line-height: 18px;
  margin-right: 10px;
  margin-left: 10px;
}
.link-page {
  display: block;
  font-family: Silka, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 7px;
  margin-left: 0px;
  padding: 7px 10px 6px;
  color: #a4ce2c;
  text-decoration: none;
  text-transform: uppercase;
}
.section-7 {
  display: block;
  margin-top: 80px;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 15%;
  padding-left: 15%;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-image: url(https://uploads-ssl.webflow.com/60da07a…/60e102a…_fondo_ciudad.png);
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.titulo-servicio {
  margin-left: 10px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 38px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.bajada-servicio {
  width: 550px;
  margin: 20px 0px 20px 10px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.5);
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.3px;
}
.div-block-26 {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.slider {
  margin-bottom: 40px;
  border-radius: 20px;
  position: relative;
  height: 300px;
  text-align: center;
  background: #dddddd;
  clear: both;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.w-slider {
  background-color: hsla(0, 0%, 98%, 0.8);
  background-position: 50% 50%;
  background-size: cover;
}
.cupon-link-wrapper {
  text-decoration: none;
  transition: all .3s linear;
}
.cupon-link-wrapper:hover {
  transform: translateY(-15px);
}
.descripcion-servicio-2 {
  margin-top: 0px;
  margin-left: 10px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.5);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.div-block-27 {
  padding: 40px;
  border-radius: 20px;
  background-color: hsla(0, 0%, 98%, 0.6);
}
.descripcion {
  display: block;
  margin-bottom: 40px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.3);
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 0.3333333333333333fr 0.6666666666666666fr;
  grid-template-columns: 0.3333333333333333fr 0.6666666666666666fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.image-22 {
  width: 50px;
  margin-right: 30px;
  border-radius: 20px;
}
.descripcion-servicio {
  margin-top: 0px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.5);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.divisor-entre-descrip-servicios {
  height: 1px;
  margin: 20px 10px 30px;
  background-color: rgba(120, 124, 169, 0.15);
}
.terminos-condiciones {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Silka, sans-serif;
  color: #ff5a00;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-decoration: underline;
  text-transform: uppercase;
}
.boton-comprar-servicio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 50px;
  margin-top: 42px;  
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #3264ff;
  box-shadow: 4px 4px 10px 0 rgb(22 32 91 / 20%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Silka, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.divisor-desktop {
  height: 1px;
  margin: 60px 10px;
  background-color: rgba(120, 124, 169, 0.15);
}
.div-block-26-copy {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  margin-right: 10px;
  margin-left: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-rule-color: rgba(120, 124, 169, 0.1);
  column-rule-color: rgba(120, 124, 169, 0.1);
  -webkit-column-rule-style: solid;
  column-rule-style: solid;
}
.descripcion_2 {
  display: none;
  margin-bottom: 40px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.3);
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.image-23 {
  width: 20px;
  margin-right: 20px;
}
.texto-ubicacion {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Silka, sans-serif;
  color: #787ca9;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.mapa {  
  height: 400px;
  border-radius: 10px;
  background: #fff;
  opacity: .7;
  margin-top: 40px;
}
.mapa iframe {
  border-radius: 20px;
  border: 0;
  width: 100%;
  height:400px;
}
.cupones-page-copy {
  position: relative;
  display: -ms-grid;
  display: grid;
  overflow: visible;
  margin: 0px 0% 140px;
  padding: 0px 0px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-style: solid;
  border-width: 0px;
  border-color: hsla(0, 0%, 98%, 0.6);
  border-radius: 35px;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}
.descripcion-copy {
  margin-bottom: 30px;
  margin-left: 10px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.3);
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

/* PAGINA CUENTA USUARIO */

.section-8 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0px 20px;
  padding: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: hsla(0, 0%, 98%, 0.2);
  border-radius: 30px;
  background-color: hsla(0, 0%, 98%, 0.7);
  -o-object-fit: contain;
  object-fit: contain;
}

.div-block-43 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 94.1%, 0.7)), to(hsla(0, 0%, 94.1%, 0.7))), url(https://uploads-ssl.webflow.com/60da07a…/6102232…_Mesa%20de%20trabajo%2013.jpg);
  background-image: linear-gradient(
180deg
, hsla(0, 0%, 94.1%, 0.7), hsla(0, 0%, 94.1%, 0.7)), url(https://uploads-ssl.webflow.com/60da07a…/6102232…_Mesa%20de%20trabajo%2013.jpg);
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.div-block-32 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: none;
  overflow: hidden;
  margin-right: 0%;
  margin-left: 0%;
}
.div-block-30 {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 40px 60px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.div-block-3_3 {
  position: relative;
  z-index: 10;
  overflow: scroll;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 1px solid rgba(22, 32, 91, 0.15);
  border-radius: 0px;
  background-color: transparent;
  opacity: 0.9;
}
.image-24 {
  width: 140px;
  margin-top: 4px;
  margin-left: 20px;
}
.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.div-block-48 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.div-block-48._2 {
  opacity: 0.5;
}
.image-28 {
  width: auto;
  height: 18px;
  opacity: 0.9;
}
.image-28._2 {
  height: 13px;
  margin-left: -3px;
}
.button-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 0px;
  margin-left: 20px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  opacity: 0.9;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-weight: 600;
  text-decoration: none;
}
.pedir-asistencia {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 50px;
  margin-top: 17px;
  margin-right: 0px;
  margin-left: 10px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-radius: 15px;
  background-color: #ffa000;
  box-shadow: 4px 4px 10px 0 rgb(22 32 91 / 20%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Silka, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color:#fff;
}
.heading-7 {
  height: 30px;
  margin-top: 10px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
.div-block-51 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.div-block-52 {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 18px;
  background-color: hsla(0, 0%, 98%, 0.7);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.image-29 {
  opacity: 1;
  width: 100%;
}
.div-block-35 {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 0px;
  background-color: transparent;
}
.div-block-45 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.div-block-36 {
  width: 100px;
  height: 100px;
  margin-right: 40px;
  border-radius: 100px;
  background-color: rgba(120, 124, 169, 0.3);
  opacity: 1;
}
.heading-8 {
  margin-top: 0px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  text-transform: capitalize;
}
.datos-usuario {
  margin: 0px 15px 0px 0px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.7);
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}
.div-block-53 {
  position: relative;
  width: 350px;
  height: auto;
  border-radius: 25px;
  background-color: transparent;
  opacity: 0.9;
}
.div-block-54 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.image-30 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 40px;
  margin-top: 25px;
  margin-right: 70px;
  padding-top: 0px;
}
.image-30_1 {
  width: 100%;
}
.numeros-tarjeta {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 60px;
  font-family: Silka, sans-serif;
  color: #fafafa;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
}
.div-block-55 {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-right: 70px;
  margin-left: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.titulos-credit-card {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-bottom: 5px;
  font-family: Silka, sans-serif;
  color: hsla(0, 0%, 98%, 0.3);
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.credit-card-datos {
  margin-bottom: 0px;
  font-family: Silka, sans-serif;
  color: hsla(0, 0%, 98%, 0.7);
  font-size: 12px;
  line-height: 12px;
}
.div-block-37 {
  height: 1px;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: rgba(120, 124, 169, 0.15);
}
.paragraph-5 {
  margin-left: 10px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.8);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.div-block-38 {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 0.25fr 0.25fr 0.5fr;
  grid-template-columns: 0.25fr 0.25fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 0px solid rgba(120, 124, 169, 0.2);
  border-radius: 15px;
  background-color: hsla(0, 0%, 98%, 0.6);
}
.paragraph-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 15px 0px 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 0px solid rgba(120, 124, 169, 0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: transparent;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
}
.div-block-49 {
  height: 1px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: rgba(120, 124, 169, 0.2);
}
.info-de-auto {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 18px;
}
.div-block-47 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;  
  margin-bottom: 12px;  
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.paragraph-3 {
  margin: 0;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.5);
  line-height: 20px;
  font-weight: 400;
  flex-basis: 50%;
  font-size: 14px;
}
.paragraph-6 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.8);
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-align: right;
  text-transform: capitalize;
}
.div-block-50 {
  margin-top: 10px;
  padding: 0px 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 160, 0, 0.3);
  border-radius: 15px;
}
.info-de-auto-copy {
  margin-top: 20px;
}
.paragraph-3-copy {
  margin: 0px 15px 0px 0px;
  font-family: Silka, sans-serif;
  color: rgba(178, 70, 22, 0.6);
  line-height: 20px;
  font-weight: 400;
}
.paragraph-6-copy {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.8);
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}
.pago-wrapper {
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  line-height: 18px;
}
.estado-pago-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.estado-pago {
  margin: 0px 15px 0px 10px;
  font-family: Silka, sans-serif;
  color: #16205b;
  line-height: 20px;
  font-weight: 500;
}
.Pendiente {
  margin-bottom: 0px;
  padding: 8px 12px 7px;
  border-radius: 10px;
  background-color: #ff5a00;
  font-family: Silka, sans-serif;
  color: #fafafa;
  font-size: 12px;
  line-height: 12px;
}
.Pagado {
  margin-bottom: 0px;
  padding: 8px 12px 7px;
  border-radius: 10px;
  background-color: #3264ff;
  font-family: Silka, sans-serif;
  color: #fafafa;
  font-size: 12px;
  line-height: 12px;
}
.pagar-seguro-auto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 50px;
  margin-top: 17px;
  margin-right: 0px;  
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #3264ff;
  box-shadow: 4px 4px 10px 0 rgb(22 32 91 / 20%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Silka, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}
.div-block-59 {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px auto 0;
}
.login-form-1 form {
  display: flex;
  justify-content: center;
  flex-direction: column
}
.cuotasPendientes {
  margin: 10px 15px 0px 10px;
  font-family: Silka, sans-serif;
  color: #16205b;
  line-height: 20px;
  font-weight: 600;
}
.cuota-mes {
  margin: 10px;
}

/* FORM STYLES */
.heading-11-copy {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: left;
}
.select-div {
  display: flex;
  flex-direction: column;
}
.paragraph-5-copy {
  margin-bottom: 15px;
  margin-left: 10px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.8);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-align: left;
}
.input-control {
  background-color: #fafafa;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 10px;
  opacity: 0.5;
  color: #333333;
  padding-left: 12px;
}
.input-field {
  width: calc(100% - 20px);
  margin-bottom: 15px;
}
.paragraph-4-copy {
  margin: 0px 15px 0px 0px;
  font-family: Silka, sans-serif;
  color: rgba(22, 32, 91, 0.5);
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}
.radio-group {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
}
.formbuilder-radio-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsla(0, 0%, 98%, 0.4);
  position: relative;
}
input[type="radio"] {
  margin-top: -2px;
  opacity: 0;
  z-index: 100;
}
.radio-replacer {  
  border-radius: 20px;
  background-color: #16205b;
  opacity: 0.2;
  position: absolute;
  top: 17px;
  right: 22px;
  width: 15px;
  height: 15px;  
}
input[type="radio"]:checked {
 opacity: 1;
}
.pagar-seguro-auto-2 {
  background-color: #3264ff !important;
  width: 100% !important;
}
.formbuilder-file {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.formbuilder-file-label {
  display: block;
  margin-bottom: 5px;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 16px;
  font-weight: 600;
}
input[type="file"] {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {
  .cupones-page {
    padding-top: 10px;    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    padding-bottom: 20px;
    grid-row-gap: 30px;
  }
  .banners-cupones {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .cupon-card-cupon-page {
    width: -webkit-fill-available;
    max-height: 200px;
    height: 200px;
    padding: 0 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .heading-6 {
    height: auto;
    margin-top: 10px;
  }
  .section-7 {
    margin: 60px auto 0;    
  }  
  .navegacion {    
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 0px;  
  }
  .heading {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 34px;
    line-height: 40px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
  .image-7 {
    position: absolute;
    left: 0;
    top: 45%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    margin-left: 0%;
  }
  .image-8 {
    position: absolute;
    left: 27%;
    top: 61%;
    bottom: 0%;
    width: 150px;
  }
  .asistencias, .image-13, .image-14, .image-15 {
    display: none;
  }
  .div-block-30 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .w-button {
    background-color: #ffa000;
    width: calc(100% - 60px);
  }
  .div-block-3_3 {
    border-top: 1px solid rgba(22, 32, 91, 0.15);
  }
  .div-block-45 {
    flex-direction: column;
  }
  .div-block-36 {
    width: 60px;
    height: 60px;
  }
  .heading-7 {
    font-size: 38px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .div-block-46 {
    margin-top: 20px;
  }
  .join {
    border: 1px solid rgba(22, 32, 91, 0.4);
    background-color: transparent;
    margin-top: 20px !important;
    width: auto;
  }
  .button-2 {
    background: transparent;
    width: auto;
  }
  .image-9 {
    width: 200px;
    left: 10%;
    top: auto;
    right: auto;
    bottom: 0%;
  }
  .image-20 {
    position: absolute;
    left: auto;
    top: auto;
    right: 30%;
    bottom: 24%;
    width: 50px;
  }
  .image-9-copy {
    position: absolute;
    left: auto;
    top: auto;
    right: 15%;
    bottom: 0%;
    width: 150px;
    margin-right: 0px;
  }
  .block6-movil {
    background-image: url(../src/assets/city-bg.png);
    background-position: 50% 100%;
    background-size: 750px;
    background-repeat: no-repeat;
  }
  .image-21 {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 100%;
  }
  .formulario {
    margin: 0;
    padding: 80px 20px 100px;    
  }
  .heading-2 {
    font-size: 28px;
  }
  .image-17 {
    left: -30%;
    width: 200px;
  }
  .image-16 {
    width: 100px;
    right: 5%;
  }
  .footer {
    margin-bottom: 140px;
    padding-bottom: 80px;
  }
  .div-block-21 {
    margin-top: 40px;
  }
  .w-button {
    margin-top: 0;
  }
  .popup-container {
    background-size: auto, 230vw;
  }
  .user-account-screen {
    padding-top: 40px;
  }
  .section-8 {
    flex-direction: column;
  }
  .div-block-35 {
    grid-template-columns: 1fr;
  }
  .div-block-38 {
    display: flex;
    flex-direction: column;
  }
  .div-block-53 {
    margin-top: 40px;
  }
  .section-7 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .div-block-26 {
    grid-template-columns: 1fr;
  }
  .div-block-26-copy {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  .descripcion_2 {
    display: block;
  }
  .mapa {
    width: unset;
  }
  .mapa iframe {
    max-width: 100%;
  }
  .cupones-page-copy {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .nav-menu {
    /* display: none; */
    position: absolute;
    /* top: -180px; */
    left: -30px;
    background: #fff;
    width: 100vw;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-row-gap: 10px;
    transition: all 0.3s linear;
  }
  .close_icon {
    opacity: 0;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 10;
  }  
  
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .banner {
    margin-top: 100px;
  }
  .heading {
    position: absolute;    
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
  .image-7 {
    width: 100%;
    margin-left: 0%;
    transform: translate3d(0px, 35.6079px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: .7;
  }
  .image-8 {
    top: 50%;
    left: 30%;
    right: auto;
    width: 300px;
  }
  .asistencias {
    margin: 0 40px;
  }
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-left: 0px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;  
  text-align: left;
}
.log-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-left: 0px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Silka, sans-serif;
  color: #16205b;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;  
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-button,
  .div-block-22,
  .asistencias.movil {
    display: none;
  }
  .navegacion {    
    margin-right: 15%;
    margin-left: 15%;
    padding-right: 10px;
    padding-left: 20px;
    background-color: transparent;
  }
  .logo1 {
    width: 50px;    
  }
  .logo2 {
    width: 170px;
    margin-left: 40px;
  }
  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin-left: 0px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Silka, sans-serif;
    color: #16205b;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;  
    text-align: left;
  }
  .log-in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 15px;
    background-color: #ff5a00;
    box-shadow: 4px 4px 10px 0 rgb(22 32 91 / 25%);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    font-family: Silka, sans-serif;
    color: hsla(0, 0%, 98%, 0.95);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: none;
  }
  .form-block {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .text-field {
    padding-right: 20px;
    padding-left: 20px;
    height: 50px;
  }
  .close_icon {
    display: none;
  }
  /* HomeScreen */

  .home-screen {
    padding-top: 90px;
  }  
  .banner {
    margin-left: 15%;
    padding-right: 80px;
  }
  .heading {
    
  } 
  .asistencias {
    display: grid;
  } 
  .div-block-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 60px 60px 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .div-block-6 {
    height: 400px;
    padding: 0 80px;    
  }
  .cupon-card:nth-child(3) {
    display: flex;
  }
  .cupones {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .div-block-10 {    
    margin-right: 80px;
    margin-left: 80px;
    flex-direction: row;    
    padding: 20px 10px;
  }
  .cupon-card {
    max-width: 360px;
    /* max-height: 220px;  */
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
  .heading-5 {
    margin: 40px 40px 10px;
  }
  .texto-cupones {
    margin: 20px 40px 10px;
  }
  .div-block-25 .texto-cupones {
    margin-left: 10px;
  }
  .div-block-20 {
    margin: 10px 40px 29px;
  }
  .div-block-18 {
    margin-top: 40px;
  }
  .el-club {
    margin-right: 15%;
    margin-left: 15%;
  }
  .heading-3 {  
    font-size: 50px;    
  }
  .paragraph-22 {
    width: 550px;
    margin-right: 60px;
    margin-left: 60px;
  }
  .formulario {
    padding: 140px 0 200px;
  }
  .rendered-form {
    max-width: 600px;
    width: 600px;
    margin: auto;
  }
  .footer {
    margin-top: 120px;    
  }
  .login-container {
    padding-top: 100px;
  }
  .section-8 {
    margin: 0 100px;
  }
  .heading-7 {
    font-size: 38px;
  }
}